<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
    <div id="img-upload">
        <form>
            <div class="form-group">
              <label >Email address</label>
              <input v-model="email" type="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Name</label>
              <input v-model="name" type="text" placeholder="Enter Name">
            </div>
            <button type="submit" v-on:click="getToken">Get Token</button>
          </form>

          <form>
              <label>Upload your image</label>
              <input type="file" v-on:change="uploadItem($event)">
              <button type="submit" v-on:click="upload">Submit</button>

          </form>
    </div>
    <script>
        let img_upload = new Vue({
            el: "#img-upload",
            data: {
                email: '',
                name: '',
                image: ''
            },
            methods: {
                getToken: function(){this
                    event.preventDefault()
                    console.log(this.email, 'and', this.name)
                    axios.post('http://35.240.157.177/request-token', {
                        email: this.email,
                        name: this.name
                    })
                    .then(user => {
                        localStorage.setItem(user)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },

                getImage: function(){
                    let token = localStorage.getItem('token')
                    axios.get('http://35.240.157.177/image',{},{
                        authorization: token
                    })
                    .then( image => {
                        console.log(image)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },

                uploadItem: function(e){
                    this.image = e.target.files[0]
                },

                upload: function(){
                    let token = localStorage.getItem('token')
                    let formData = new FormData();
                        formData.append('file', this.image);

                        axios.post( 'http://35.240.157.177/image',
                            formData,{
                                headers: {
                                    authorization: token 
                                }
                            }
                        ).then(function(){
                        console.log('SUCCESS!!');
                        })
                        .catch(function(){
                        console.log('FAILURE!!');
                        });
                }
            }

        })
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>